<%- include('./base/header.ejs') %>
  <div class="container">
    <div class=" alert bg-success my-3">
      <h4 class="text-center text-white"> Edit Student</h4>

    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <form action="/student/edit/<%= student._id %>" method="post">
          <div>
            <label class="form-label">Roll No</label>
            <input type="number" class="form-control" placeholder="enter roll no" name="RollNo"
            value="<%= student.RollNo%>">
           

          </div>
          <div>
            <label class="form-label">Name</label>
            <input type="text" class="form-control" placeholder="enter name" name="Name" 
            value="<%= student.Name%>">

          </div>
          <div>
            <label class="form-label">Father Name</label>
            <input type="text" class="form-control" placeholder="Father name" name="FatherName"
            value="<%= student.FatherName%>">

          </div>
          <div>
            <label class="form-label">Aadhar Number</label>
            <input type="number" class="form-control" placeholder="enter aadhar number" name="AadharCardNumber" 
            value="<%= student.AadharCardNumber%>">

          </div>
          <div>
            <label class="form-label">Mobile Number</label>
            <input type="number" class="form-control" placeholder="enter mobile number" name="MobileNo" 
            value="<%= student.MobileNo%>">
          </div>
          <input type="submit" class="btn btn-success" value="Edit student">
          <a href="/students" class="btn btn-danger" value="cancel" text align-center>Edit Cancel</a>
         
        </form>

      </div>

      <div class="col"></div>
    </div>
  </div>

  <%- include('./base/footer.ejs') %>